:root {
  --background: #47a23e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--background);
  color: white;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 1920px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

nav li {
  display: inline;
  margin-right: 50px;
}

#about-me {
  background-image: url(images/background-image-primary.png);
}

#contact-button {
  margin-left: 1300px;
  margin-top: -60px;
  width: 200px;
  height: 87px;
  font-size: 35px;
}

#footer {
  background-color: #47a23e;
  height: 424px;
  width: 1920px;
}

#header {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
}

#hero {
  width: 900px;
  height: 503px;
  padding-top: 235px;
  padding-left: 207px;
}

#hero-buttons {
  margin-top: 50px;
}

#home {
  background-image: url(images/background\ image.png);
}

#home,
#portfolio,
#about-me,
#services {
  background-size: contain;
  height: 1080px;
  width: 1920px;
}

#nav-cta {
  display: inline-block;
}

#portfolio,
#services {
  background-image: url(images/background-image-secondary.png);
}

.gallery {
  display: flex;
  gap: 1rem;
  max-width: 80rem;
}

.card {
  position: relative;
  left: 0px;
  width: 6rem;
  border-radius: 1.2rem;
  height: 20rem;
  overflow: hidden;
  background-color: var(--background);
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  flex: 0.25;
}

.card img {
  position: relative;
  height: 20rem;
  object-fit: cover;
}

.card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.cta-button {
  color: black;
  background-color: #e7fe49;
  border: none;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  padding: 10px;
  width: 225px;
  height: 90px;
  margin-right: 70px;
}

.empty-button {
  font-size: 35px;
  border: none;
  background-color: transparent;
  color: white;
}

.hero-title {
  font-size: 110px;
  font-weight: bold;
}

.section-titles {
  font-size: 95px;
  text-align: center;
  padding-top: 40px;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
}
