:root {
  --background: #47a23e;
  --background: #060d23;
  --linkedin: #0a66c2;
  --youtube: #e52d27;
  --x: #0f1419;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 1920px;
  display: grid;
  place-items: center;
  height: 100vh;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

nav li {
  display: inline;
  margin-right: 50px;
}

#about-me {
  background-image: url(images/background-image-primary.png);
}

#contact-button {
  margin-left: 1300px;
  margin-top: -60px;
  width: 200px;
  height: 87px;
  font-size: 35px;
}

#footer {
  background-color: #47a23e;
  height: 424px;
  width: 1920px;
  background-image: url(images/footer-background.png);
}

#footer-title {
  text-align: left;
}

#footer-elements {
  padding-left: 218px;
}

#header {
  padding-top: 50px;
  font-size: 35px;
  padding-left: 180px;
}

#hero {
  width: 900px;
  height: 503px;
  padding-top: 235px;
  padding-left: 207px;
}

#hero-buttons {
  margin-top: 50px;
}

#home {
  background-image: url(images/background\ image.png);
}

#home,
#portfolio,
#about-me,
#services {
  background-size: contain;
  height: 1080px;
  width: 1920px;
}

#nav-bar {
  text-align: center;
}

#nav-cta {
  display: inline-block;
}

#portfolio,
#services {
  background-image: url(images/background-image-secondary.png);
}

#send-email {
  font-size: 30px;
  margin-top: 20px;
}

.cta-button {
  color: black;
  background-color: #e7fe49;
  border: none;
  border-radius: 15px;
  font-size: 35px;
  padding: 10px;
  width: 225px;
  height: 90px;
  margin-right: 70px;
  cursor: pointer;
}

.empty-button {
  font-size: 35px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.hero-title {
  font-size: 110px;
  font-weight: bold;
}

.section-titles {
  font-size: 95px;
  text-align: center;
  padding-top: 40px;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.social-media-button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

.social-media-button:hover:nth-child(1) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-media-button:hover:nth-child(2) {
  background-color: var(--white);
}

.social-media-button:hover:nth-child(2) svg {
  stroke: var(--x);
}

.social-media-button:hover:nth-child(3) {
  background-color: var(--youtube);
}

.social-media-button:hover:nth-child(4) {
  background-color: var(--linkedin);
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
}
