:root {
  --background: #47a23e;
  --linkedin: #0a66c2;
  --youtube: #e52d27;
  --x: #0f1419;
  --white: #fff;
  --scrollbar-background: #313852;
  --text: #f1f1f1;
  --text-active: #f1f1f180;
  --gray: #eaeaec;
  --primary: #29283f;
  --primary-violet: #7370f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 1920px;
  display: grid;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 100vh;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

nav li {
  display: inline;
  margin-right: 50px;
}

p {
  font-size: 20px;
}

#about-me-content {
  text-align: center;
  width: 800px;
  margin-left: 600px;
}

#about-me {
  background-image: url(images/background-image-primary.png);
}

#contact-button {
  margin-left: 1300px;
  margin-top: -60px;
  width: 200px;
  height: 87px;
  font-size: 35px;
}

#footer {
  background-color: #47a23e;
  height: 424px;
  width: 1920px;
  background-image: url(images/footer-background.png);
}

#footer-title {
  text-align: left;
}

#footer-elements {
  padding-left: 218px;
}

#github-button {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  font-size: 35px;
  padding: 10px;
  width: 250px;
  height: 90px;
  cursor: pointer;
  margin-right: 10px;
}

#github-icon {
  width: 38px;
  height: 39px;
  margin-left: 10px;
}

#header {
  padding-top: 50px;
  font-size: 35px;
  padding-left: 180px;
}

#hero {
  width: 1000px;
  height: 503px;
  padding-top: 235px;
  padding-left: 207px;
}

#hero-buttons {
  margin-top: 50px;
}

#home {
  background-image: url(images/background\ image.png);
}

#home,
#portfolio,
#about-me,
#services {
  background-size: contain;
  height: 1080px;
  width: 1920px;
}

#nav-bar {
  text-align: center;
}

#nav-cta {
  display: inline-block;
}

#portfolio,
#services {
  background-image: url(images/background-image-secondary.png);
}

#send-email {
  font-size: 30px;
  margin-top: 20px;
}

.cta-button {
  color: black;
  background-color: #e7fe49;
  border: none;
  border-radius: 15px;
  font-size: 35px;
  padding: 10px;
  width: 225px;
  height: 90px;
  margin-right: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 16px;
  max-width: 1500px;
  overflow-x: scroll;
  text-align: center;
  scroll-snap-type: x mandatory;
  margin-left: 200px;
}

.card {
  min-width: 1920px;
  min-height: 850px;
  color: var(--text);
  display: flex;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 16px;
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  scroll-snap-align: start;
}

.card:nth-child(1) {
  background-image: url(images/fit-learn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.card:nth-child(2) {
  background-image: linear-gradient(to bottom, #e5866c, #df795d);
}

.card:nth-child(3) {
  background-image: linear-gradient(to bottom, #5866e4, #4d5ad9);
}

.card:nth-child(4) {
  background-image: linear-gradient(to bottom, #97bf42, #75aa29);
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border-radius: 999px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 999px;
}

.empty-button {
  font-size: 35px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.hero-title {
  font-size: 110px;
  font-weight: bold;
}

.section-titles {
  font-size: 95px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.social-media-button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

.social-media-button:hover:nth-child(1) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-media-button:hover:nth-child(2) {
  background-color: var(--white);
}

.social-media-button:hover:nth-child(2) svg {
  stroke: var(--x);
}

.social-media-button:hover:nth-child(3) {
  background-color: var(--youtube);
}

.social-media-button:hover:nth-child(4) {
  background-color: var(--linkedin);
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
}

/*ABOUT ME*/

.services-container {
  text-align: center;
  padding-top: 100px;
  padding-left: 600px;
}

.services-card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  max-width: clamp(320px, 70vw, 740px);
  min-width: 500px;
  min-height: 400px;
}

.services-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background {
  flex: 1 1 250px;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-content {
  color: black;
  flex: 3 1 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 16px;
}

.services-content > h2 {
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  font-weight: 700;
  margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.content > p {
  font-size: clamp(1rem, 1.75vw, 1.1rem);
  font-weight: 400;
  margin: 6px 0;
}

.content a {
  color: var(--background);
}

.chips {
  color: white;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 12px 0px 16px 0px;
}

.chip {
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--primary);
  transition: all 0.3s;
  font-weight: 500;
}

.chip:hover {
  background-color: var(--background);
  color: var(--gray);
}

.action-buttons {
  border-top: 1px solid var(--gray);
  padding-top: 16px;
  gap: 12px;
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}

.action-buttons a {
  background-color: var(--primary);
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 0 240px;
  max-width: 100%;
}

/* .action-buttons a:hover {
  text-decoration: underline;
} */

.action-buttons a.secondary {
  background-color: inherit;
  color: var(--primary);
  border: 1px solid var(--primary);
  flex: 1 0 80px;
}
